# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=

# Google Client ID (Optional)
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=AIzaSyARyyDWXMpLLqsYr3z5gj_Nf3_Sen49K9w